body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.discount-padding {
    padding-top: 25px;
  }
  .addToCart{
  background: red;
  }
  .border1Px{
    border: 1px solid rgb(94, 81, 81);
    width: 100%;
  }
  .dark-theme, .dark-theme .dropbtn, .dark-theme .dropdown-content{
background-color: black !important;
color: white;
transition: .4s ease-in-out;
}
.dark-theme ._navigationBarDiv a {
color: rgb(255, 255, 255);
transition: .4s ease-in-out;
}
.dark-theme .secondData{
  box-shadow: 23px 23px 45px #161616, -23px -23px 45px #000000;
    background: #434141;
}
.dark-theme .firstData{
  box-shadow: 23px 23px 45px #161616, -23px -23px 45px #000000;
    background: #272626;
}
.light-theme, .light-theme .dropbtn, .light-them .dropdown-content{
  background-color: rgb(214, 214, 214) !important;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
  }

